.UpperSection{

}
.Page{
    background-color:#292828;
    height: 100vh;
    display:flex;
}
.inputBox{
    border-radius:60px;
    background-color: #4d4d4d ;
    width:70%;
    height:15%;
}
.textSection{
    height:50%;
    width:100%;
    display:flex;
    padding:5%;
    align-items: center;
    justify-content: space-between;
    border-color: white;
}

.createButton{
    background-color: #170AA8;
    border-radius: 60px;
    height:15%;
    width:20%;
}