.landingPage{
    background-color: #292828;
    height:100vh;
    margin:0;
    padding:0;
}
/* .upperSection{
    background-color:clear;
    height: 50%;
}
.middleSection{
    background-color:blue;
} */
#Text{
    color:white;
}